{% extends "_base.jinja" %}

{% block style %}{% endblock %}

{% block title %}Les cours{% endblock %}

{% block content %}

<h1>Liste des cours de la semaine</h1>

<h3>Lundi</h3>
<div class="container">
  <p>Pas de cours</p>
</div>

<h3>Mardi</h3>
<div class="container">
  <div class="row">
    <div class="col-4">Management</div>
    <div class="col-8">F.HOREN</div>
  </div>
  <div class="row">
    <div class="col-4">Communication</div>
    <div class="col-8">F.HOREN</div>
  </div>
  <div class="row">
    <div class="col-4">Systèmes</div>
    <div class="col-8">C.DROCOURT</div>
  </div>
  <div class="row">
    <div class="col-4">Dev Flask</div>
    <div class="col-8">N.DELPECH</div>
  </div>
</div>

<h3>Mercredi</h3>
<div class="container">
  <div class="row">
    <div class="col-4">Java</div>
    <div class="col-8">C.LOGE</div>
  </div>
  <div class="row">
    <div class="col-4">Dev Flask</div>
    <div class="col-8">N.DELPECH</div>
  </div>
</div>

<h3>Jeudi</h3>
<div class="container">
  <div class="row">
    <div class="col-4">Anglais</div>
    <div class="col-8">K.RANDALL</div>
  </div>
  <div class="row">
    <div class="col-4">Maths</div>
    <div class="col-8">JB.MASSON</div>
  </div>
  <div class="row">
    <div class="col-4">Base de données 1</div>
    <div class="col-8">M.ROTTIERS</div>
  </div>
</div>

<h3>Vendredi</h3>
<div class="container">
  <div class="row">
    <div class="col-4">Algo</div>
    <div class="col-8">S.LABDAI</div>
  </div>
  <div class="row">
    <div class="col-4">Base de données 2</div>
    <div class="col-8">A.CARPENTIER</div>
  </div>
</div>

{% endblock %}

{% block script %}{% endblock %}
